{
    "openapi": "3.0.0",
    "info": {
        "title": "ECLI API of OpenJustice",
        "contact": {
            "name": "Team of OpenJustice",
            "email": "team@openjustice.be"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api-ecli.openjustice.lltl.be/api/v1"
        }
    ],
    "paths": {
        "/ECLI/BE/{court_acronym}": {
            "get": {
                "tags": [
                    "Court"
                ],
                "summary": "Get Court",
                "description": "Get list of Court",
                "operationId": "geoZipCodes",
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "/statistics": {
            "get": {
                "tags": [
                    "Stats"
                ],
                "summary": "Get list of Stats",
                "description": "Get list of Stats",
                "operationId": "Stats",
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "/utus": {
            "get": {
                "tags": [
                    "UTU"
                ],
                "summary": "Get list of Utus",
                "description": "Get list of Utus",
                "operationId": "utus",
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "bearer": []
                    }
                ]
            }
        }
    }
}